* {
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: border-box;
}

	
	
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-SemiBold.woff') format('woff');
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}



:root {
	--font-family: 'Poppins', sans-serif;
}

body {
	font-family: var(--font-family);
	font-weight: 400;
}

img {
	max-width: 100%;
}

.burger {
	--offset-horizontal: 6px;
	--offset-vertical: 18px;
	position: relative;
	padding: var(--offset-vertical) var(--offset);
	width: 60px;
	height: 60px;
	background-color: rgba(255,253,253,1);
	transition: background-color 0.5s linear;
}
.burger:hover{
	background-color: rgb(169,255,224);
}
.burger-line {
	position: absolute;
	left: 50%;
	top: var(--offset-vertical);
	display: inline-block;
	width: calc(100% - (var(--offset-horizontal) * 2));
	height: 6px;
	background-color: #D9D9D9;
	transform: translateX(-50%);
}

.burger-line:nth-child(2) {
	top: calc(var(--offset-vertical) + 10px);
}

.burger-line:nth-child(3) {
	top: calc(var(--offset-vertical) + 20px);
}
body{
	margin: 0;
}
.container{
	margin: 0px 0px;
}
.header{
	height: 110vh;;
	background: rgb(169,255,224);
	background-repeat: no-repeat;
	background-size: cover;
	background: linear-gradient(90deg, rgba(169,255,224,1) 0%, rgba(255,253,253,1) 100%);
}

.headerline{
	padding-top: 0px;
	left: 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.header-logo{
}

.nazv{
	font-size: 70px;
	line-height: 86%;
	color: #000;
	font-family: "Luxurious Roman", serif;
	font-weight: 400;
	font-style: normal;
}

.header-logo:before{
	position: absolute;
	content: '';
	height: 2px;
	width: 1100px;
	background-color: #000;
	top: 142px;

}


.headerdown{
	display: flex;
}

.headertitle{
	
	font-family: "Segoe Print";
	font-weight: 400;
	font-size: 22px;
	line-height: 133%;
	color: #000;

	position: absolute;
	text-align:left;
	margin: 160px;
	margin-top: 60px;
	width: 900px;
	height: 603px;

}
.header-button{
	position: relative;
	top: 80px;
	background-color: #49D4A2;
	padding: 49px 27px;
	color: #222a2b;
	font-size: 48px;
	font-weight: 400;
	font-family: "Russo One", sans-serif;
	font-style: normal;
	border-radius: 61px;
	text-decoration: none;
	transition: background-color 0.5s linear;
}

.header-button:hover{
	background-color: #35ffb5;
}
.image{
	position: relative;
	left: 1070px;
	top: 65px;
}
