* {
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: border-box;
}

	
	
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-SemiBold.woff') format('woff');
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}



:root {
	--font-family: 'Poppins', sans-serif;
}

body {
	font-family: var(--font-family);
	font-weight: 400;
}

img {
	max-width: 100%;
}

.header{
	font-weight: 700%;
	height: 130px;
	background: rgb(169,255,224);
	background-repeat: no-repeat;
	background-size: cover;
}

.nazv{
    font-size: 70px;
	line-height: 86%;
	color: #000;
	font-family: "Russo One", serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
    position: relative;
    top: 33px;

}
.buttons{
	display: flex;
    align-items: center;
	justify-content: space-around;
}
.back{
    position: relative;
    top: 80px;
    left: -150px;
	background-color: #49D4A2;
	padding: 49px 27px;
	color: #222a2b;
	font-size: 48px;
	font-weight: 400;
	font-family: "Russo One", sans-serif;
	font-style: normal;
	border-radius: 61px;
	text-decoration: none;
	transition: background-color 0.5s linear;
}
.next{
    position: relative;
    top: 80px;
    left: 160px;
	background-color: #49D4A2;
	padding: 49px 27px;
	color: #222a2b;
	font-size: 48px;
	font-weight: 400;
	font-family: "Russo One", sans-serif;
	font-style: normal;
	border-radius: 61px;
	text-decoration: none;
	transition: background-color 0.5s linear;
}
.back:hover{
    background-color: rgb(169,255,224);
}
.next:hover{
    background-color: rgb(169,255,224);
}
.images{
    padding-top: 50px;
	left: 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.commands{
    font-family: "Jost";
	font-weight: 400;
	font-size: 22px;
	line-height: 133%;
	color: #000;

    padding-top: 0px;
	left: 0px;
	display: flex;
	align-items: center;
	justify-content: space-around;


	text-align: center;
}