<!DOCTYPE html>
<html>
<head>
    <title>Добавление слов</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        ul {
            list-style-type: none;
            padding: 0;
            text-align: left;
            max-width: 300px;
            margin: 20px auto;
        }
        li {
            background-color: #f2f2f2;
            padding: 10px;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <h1>Добавление слов</h1>

    <form method="post">
        <input type="text" name="word" placeholder="Вводи новые слова">
        <button type="submit">Добавить слово</button>
    </form>

    <h2>Слова:</h2>
    <ul>
        {% for word in words %}
        <li>{{ word }}</li>
        {% endfor %}
    </ul>
<div class="buttons">
    <div class="back-h">
        <a href="save" class="back">Дальше</a>
    </div>
</div>
</body>
</html>
