<!DOCTYPE html>
<html>
<head>
    <title>Выбор категории</title>
    <style>
        button {
            padding: 10px 20px;
            font-size: 16px;
            transition: all 0.3s ease;
        }

        button.pressed {
            background-color: #ddd;
            transform: translateY(2px);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        }
    </style>
</head>
<body>
<h1>Нажмите на кнопку для сохранения наборов:</h1>
<button id='btn1'>Базовый набор</button>
<button id='btn2'>IT</button>
<button id='btn3'>Юриспруденция</button>
<button id='btn4'>Новый год</button>
<button id='btn5'>Marvel</button>
<button id='btn6'>Природа</button>
<button id='btn7'>Еда</button>
<button id='btn8'>Фильмы</button>
<button onclick="redirectToHandler()">Свой набор</button>

<script>
function redirectToHandler() {
  window.location.href = "/save_text_9";
}
</script>

<script>
document.getElementById("btn1").addEventListener("click", function() {
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/save_text_1", true);
    xhr.send();
});
</script>

<script>
document.getElementById('btn2').addEventListener('click', function() {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/save_text_2', true);
    xhr.send();
});
</script>

<script>
document.getElementById('btn3').addEventListener('click', function() {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/save_text_3', true);
    xhr.send();
});
</script>

<script>
document.getElementById('btn4').addEventListener('click', function() {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/save_text_4', true);
    xhr.send();
});
</script>

<script>
document.getElementById('btn5').addEventListener('click', function() {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/save_text_5', true);
    xhr.send();
});
</script>

<script>
document.getElementById('btn6').addEventListener('click', function() {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/save_text_6', true);
    xhr.send();
});
</script>

<script>
document.getElementById('btn7').addEventListener('click', function() {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/save_text_7', true);
    xhr.send();
});
</script>

<script>
document.getElementById('btn8').addEventListener('click', function() {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/save_text_8', true);
    xhr.send();
});
</script>

<div class="buttons">
    <div class="back-h">
        <a href="setings" class="back">Назад</a>
    </div>
    <div class="next-h">
        <a href="game" class="next">Дальше</a>
    </div>
</div>
</body>
</html>
