<!DOCTYPE html>
<html>
<head>
    <title>Выбор категории</title>
</head>
<body>
    <h1>Нажмите на кнопку для сохранения текста в файле:</h1>
    <form method="POST" action="/save_text">
        <button type="submit" name="text" value="Базовый набор">Базовый набор</button>
        <button type="submit" name="text" value="IT">IT</button>
        <button type="submit" name="text" value="Юриспруденция">Юриспруденция</button>
        <button type="submit" name="text" value="Новый год">Новый год</button>
        <button type="submit" name="text" value="Marvel">Marvel</button>
        <button type="submit" name="text" value="Природа">Природа</button>
        <button type="submit" name="text" value="Еда">Еда</button>
        <button type="submit" name="text" value="Фильмы">Фильмы</button>
    </form>
</body>
</html>
