<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AliasWEB</title>

  <style>
    .image {
        position: relative;
        animation: sway 2s infinite alternate;
    }

    @keyframes sway {
        0% { transform: rotate(2deg); }
        50% { transform: rotate(-2deg); }
        100% { transform: rotate(2deg); }
    }
    .image{
    box-shadow: 7px 7px 5px #49D4A2; /* Тень */
    padding: 10px; /* Поля вокруг текста */
    border-radius: 10px; /* Радиус скругления */
    background: #cbcfcb; /* Цвет фона */
    }

</style>
</style>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="glav.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Luxurious+Roman&family=Russo+One&display=swap" rel="stylesheet">
  <link href="https://db.onlinewebfonts.com/c/c455d94eee43dc4ceeb83c0c0fd0d4c8?family=Segoe+Print+V1" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Russo+One&display=swap" rel="stylesheet">
</head>
<body>
<div class="header">
  <div class="container">
    <div class="headerline">
      <div class="header-logo">
        <img src="C:\Users\vdem1\OneDrive\Рабочий стол\alias\logo.png" width="147" height="135" alt="">
      </div>
      <div class="nav">
        <div class="nazv">
          AliasWEB
        </div>
      </div>
      <button class="burger">
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        </button>
      </div>
    </div>

    <div class="headerdown">
      <div class="image">
        <img id=image src="card.jpg" width="200" height="350" alt="">
        </div>
      <div class="headertitle">
        Игра "Элиас" (или "Алиас") - это командная настольная игра, в которой один из участников пытается объяснить слово или фразу, не используя само слово, а только описывая его синонимы, ассоциации или другие подсказки. Остальные участники команды должны догадаться, о каком слове идет речь.

      Игра очень популярна на вечеринках, в компаниях и на дружеских посиделках. Она способствует развитию коммуникационных навыков, логики, ассоциативного мышления и воображения.

      Обычно в игре участвуют две команды, которые по очереди представляют загадываемые слова. Команда, которая первой угадает слово, получает очки. Побеждает та команда, которая первой наберет определенное количество очков.

      "Элиас" - отличный способ провести время весело и интересно в кругу друзей или семьи.
        <div class="header-bth">
          <a href="next" class="header-button">Начать игру</a>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>